.details {
  .productDetails {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 1.5rem;

    &__images {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1.5rem;
    }

    &__images img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }

    &__images img:nth-child(3) {
        grid-column: 1/ span 2;
        height: 350px;
    }
  }
}
