.minProduct {
  display: grid;
  grid-template-columns: 130px auto;
  gap: 1.5rem;
  height: 170px;
  width: 100%;
  width: -webkit-fill-available;

  &__cover {
    width: 130px;
    height: 100%;
  }

  &__cover img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
    margin-bottom: auto;
    margin-top: auto;
  }

  &__content .delete {
    position: absolute;
    top: 0;
    right: 0;
  }
}
